.welcome-container {
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #06382E;
  color: #fff;
  text-align: center;
}
