.chat-box {
  margin: 2.5rem auto;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 7rem;
  transition: all 0.3s ease-in-out;
}

.chat-box.focused {
  height: 18rem;
}

.chat-label {
  color: #374151;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.chat-input {
  width: 65%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  background-color: #D9D9D9;
  padding: 0.5rem;
  outline: none;
  align-self: flex-end;
}
